.ocr-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999999;
  cursor: crosshair;
  display: none;
}

.ocr-selection-box {
  position: absolute;
  border: 1px solid #FF4954;
  pointer-events: none;
  display: none;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
}

.ocr-selection-box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid #FF4954;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -10;
  }
}

.ocr-guide {
  position: absolute;
  pointer-events: none;
  display: none;
  z-index: 1000000;
}

.ocr-guide-vertical {
  top: 0;
  width: 1px;
  height: 100%;
  border-left: 1px dashed #FF4954;
}

.ocr-guide-horizontal {
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px dashed #FF4954;
}
